<div id="buttonUp" class="button-up" ripple-light>
    <svg style="width:60px;height:60px;" viewBox="0 0 60 60">
        <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z" fill="#fff" style="transform: scale(2.5);"></path>
    </svg>
</div>
