@import '../partials/_variables.scss';
@import '../partials/_layout.scss';
@import '../partials/_mixins.scss';

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;

  &.is-opened {
    overflow: hidden;
  }
}

body {
  background-image: url('/img/body_bg.png');
  background-position: center center;
  background-attachment: fixed
}

.wrapper {
  max-width: 1180px;
  margin: $wrapperTop auto;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  @include MDShadow-2
}

.container {
  width: 100%;
  height: 100%;
  &_flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    @extend .container
  }

  &_flex-row {
    @extend .container_flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
}

.main,
.header {
  position: relative;
}
.main {
  padding: 0 30px;
  text-align: center;
}

.s-devider {
  margin: 30px;
}

.line {
  border-top: solid 2px $red;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.2);
}

.modal__overlay {
  opacity: 0;
  visibility: hidden;
  z-index: $modal-zindex;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($blacked, 0.3);

  &.is-opened {
    opacity: 1;
    visibility: visible;
  }
}

.families {
  &__list-title {
    display: block;
    text-align: center;
    margin: 10px auto;
    color: $blacked;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    padding: 7px 9px;
    margin: 5px;
    color: $white $red;
    border-radius: 2px;
    @include MDShadow-1;
    transition: .3s;

    &:hover {
      color: $white lighten($red, 10%);
    }

    &:active {
      @include MDShadow-2;
    }
  }
}

.button-up {
  z-index: 1000;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  margin: $wrapperTop;
  text-align: center;
  background-color: $red;
  cursor: pointer;
  @include MDShadow-1;
  transform: translateX(200%);
  transition: .3s ease-in-out, transform .6s ease-in-out .2s;

  &.is-visible {
    transform: translateX(0);
  }

  &:hover {
    background-color: lighten($red, 10%);
  }

  &:active {
    @include MDShadow-2;
  }
}

.btn,
.btn-large,
.btn-flat {
  line-height: normal;
}

@include waves-light($white, $ripple-opacity);
@include waves-dark($red, $ripple-opacity);
