@import '../../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../partials/_variables';
@import '../partials/_layout';
@import '../partials/_mixins';
.overlay {
    z-index: $overlay-zindex;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(black, .35);
    transition: .2s ease-in-out;
    &_visible {
        opacity: 1;
        visibility: visible;
    }
}

.modal__window {
    z-index: $modal-zindex;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    width: 370px;
    height: auto;
    padding: 30px;
    background: white;
    border: 1px solid darken(white, 20%);
    border-radius: 5px;
    transform: translateX(-50%) translateY(-100%);
    transition: .5s ease-in-out;
    &_visible {
        opacity: 1;
        visibility: visible;
        @include box-shadow(25px);
        transform: translateX(-50%) translateY(-50%);
    }
}

input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea {
    background-color: transparent;
    margin: 0;
    padding: 0;
    size: 100% 3rem;
    resize: none;
    color: $white;
    font-size: 1rem;
    box-sizing: content-box;
    box-shadow: none;
    border: none;
    outline: none;
    border-bottom: 1px solid $white;
    border-radius: 0;
    @include transition(.3s);
}

textarea {
    size: 100% 4rem
}

.form {
    width: 75%;
    height: 100%;
    &__container {}
    &__title {
        display: block;
        padding: 0;
        color: $white;
    }
    &__name {
        display: block;
        margin-left: auto;
        left: auto;
        right: auto;
        color: $white;
    }
    &__label {
        display: block;
        margin-top: 10px;
        color: $white;
    }
    &__input {
        display: block;
        color: $white;
        padding: 10px 0;
    }
    &__hint {
        display: block;
        color: $white;
    }
    &__textarea {
        display: block;
        color: $white;
    }
    &__button {
        display: block;
        size: 50% 40px;
        margin: 20px auto auto;
        @include MDShadow-1;
		@include transition(.2s);
		&:active {
			@include MDShadow-2;
		}
    }
    &__submit {
        size: 100%;
        padding: 8px 10px;
        color: $red rgba($white, .8);
        cursor: pointer;
        border: none;
        border-radius: 2px;
		@include transition(.2s);
        &:hover {
            background-color: $white;
        }
    }
}

.input {
    display: block;
    width: 100%;
    height: 3em;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: .2s ease-in-out;
    @include placeholder {
        color: gray;
        transition: .2s ease-in-out;
    }
    &:focus {
        @include placeholder {
            color: red;
        }
    }
    &__hint {
        display: block;
        font-size: 14px;
        line-height: 3;
    }
    &__submit {
        display: block;
        width: 100%;
        height: 3em;
        color: #fff;
        background: #e74c3c;
        border: 3px solid #e74c3c;
        border-radius: 5px;
        cursor: pointer;
        transition: .2s ease-in-out;
        &:hover,
        &:active,
        &:focus {
            background: #c0392b;
            border: 3px solid #c0392b
        }
    }
}
