<footer class="footer">

    <div class="container_flex-row">

        <div class="footer__column container_flex-row">

            <span class="company__requisites">

				ООО «КОМФОРТ»<br><br>

                Реализация котельного оборудования, банных печей, дополнительного оборудования. Монтаж систем отопления, дымоходов, котельного и иного оборудования.<br><br>

				ИНН\КПП:<br>
				2443046311\244301001<br>
				ОГРН: 1152443001391
				</span>

           <div class="contacts">

            <div class="contacts__block">Адрес и контакты:</div>

            <div class="contacts__block">
                <i class="contacts__icons fa fa-map-marker fa-fw" aria-hidden="true"></i>
                <span class="contacts__content">
					г. Ачинск, ул. Дзержинского, 38, стр. 1, офис 1
					</span>
            </div>

            <div class="contacts__block">
                <i class="contacts__icons fa fa-phone fa-fw" aria-hidden="true"></i>
                <span class="contacts__content">
					+7 (39151) 5-89-52<br>
					+7 (908) 209-11-47<br>
					+7 (39151) 4-00-40</span>
            </div>

            <div class="contacts__block">
                <a
                class="contacts__link"
                href="//komfort124.ru"
                title="Вы уже на нашем сайте"
                ripple-dark
                >
                <i class="contacts__icons fa fa-sitemap fa-fw" aria-hidden="true"></i>&nbsp;komfort124.ru
                </a>
            </div>

            <div class="contacts__block">
                <a
                class="contacts__link"
                href="mailto:domkotel124@mail.ru"
                title="Написать электронное письмо"
                ripple-dark
                >
                <i class="contacts__icons fa fa-envelope fa-fw " aria-hidden="true"></i>&nbsp;domkotel124@mail.ru</a>
            </div>

            <div class="contacts__block">

               <a href="//yandex.ru/maps/?um=constructor%3AjGfZNoAoTAFw3F9Lbigo7aT5PhGaSKYu&source=constructorLink" target="_blank" class="map__title" ripple-dark>Как нас найти? (Откроются Яндекс Карты)</a>

            </div>

        </div>

        <div class="footer__form">

            <div class="form">

                {{> feedbackform }}

            </div>

        </div>

    </div>

</footer>
