<section id="e12" class="product">

	<div class="product__container">

		<h2 class="product__name">Линейка "Ермак 12"</h2>

		<div class="container_flex-row">

			<div class="product__column">

				<h6 class="product__title">Ермак 12</h6>

				<div class="product__image-container">
					<img src="assets/img/ermak/e12.jpg" alt="ermak 12" class="product__image">
				</div>

				<a href="//www.ermak-termo.ru/upload/iblock/253/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2012,%2012-%D0%9F%D0%A1-.pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

				<span class="product__price_narrow">11 600 p.</span>

			</div>

			<div class="product__column">

				<h6 class="product__title">Ермак 12 ПС</h6>

				<div class="product__image-container">
					<img src="assets/img/ermak/e12ps.jpg" alt="ermak 12 пс" class="product__image">
				</div>

				<a href="//www.ermak-termo.ru/upload/iblock/253/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2012,%2012-%D0%9F%D0%A1-.pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

				<span class="product__price_narrow">16 750 р.</span>

			</div>

			<div class="product__column">

				<h6 class="product__title">Ермак 12 Элит С</h6>

				<div class="product__image-container">
					<img src="assets/img/ermak/e12es.jpg" alt="ermak элит 12 с" class="product__image">
				</div>

				<a href="//www.ermak-termo.ru/upload/iblock/253/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2012,%2012-%D0%9F%D0%A1-.pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

				<span class="product__price_narrow">14 650 р.</span>

			</div>

			<div class="product__column">

				<h6 class="product__title">Ермак 12 Элит ПС</h6>

				<div class="product__image-container">
					<img src="assets/img/ermak/e12eps.jpg" alt="ermak 12 элит пс" class="product__image">
				</div>

				<a href="//www.ermak-termo.ru/upload/iblock/253/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2012,%2012-%D0%9F%D0%A1-.pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

				<span class="product__price_narrow">18 900 р.</span>

			</div>

			<span class="product__description-text">
                Самая компактная дровяная банная печь на основе «Свободной Трансформации - FT», с изменяемой функциональностью. Печь создана для небольшой русской бани или финской сауны с объемом парной от 6-14 м&sup3;.
            </span>

			<div class="product__table-container" align="center">
				<table class="xl639510" style="border-collapse:collapse;table-layout:fixed" width="931" border="0" cellspacing="0" cellpadding="0">
					<colgroup>
						<col width="175">
						<col width="116">
						<col width="85">
						<col width="64">
						<col width="99">
						<col width="85">
						<col width="88">
						<col width="74">
						<col width="68">
						<col width="77">
					</colgroup>
					<tbody>
						<tr height="20">
							<td colspan="10">Печь-каменка Ермак 12</td>
						</tr>
						<tr height="40">
							<td rowspan="2">Модель печи-каменки</td>
							<td rowspan="2">Объём отапливаемого помещения, м³</td>
							<td rowspan="2">Мощность, кВт</td>
							<td rowspan="2">Масса, кг</td>
							<td rowspan="2">Ёмкость каменки, кг</td>
							<td rowspan="2">Глубина топки, мм</td>
							<td rowspan="2">Диаметр дымохода, м</td>
							<td colspan="3">Габаритные размеры, ±15 мм</td>
						</tr>
						<tr height="41">
							<td>Длина</td>
							<td>Ширина</td>
							<td>Высота</td>
						</tr>
						<tr height="20">
							<td height="20">Ермак 12</td>
							<td rowspan="4">6-12</td>
							<td rowspan="4">12</td>
							<td>52</td>
							<td rowspan="4">40</td>
							<td rowspan="4">500</td>
							<td rowspan="4">115</td>
							<td>595</td>
							<td>395</td>
							<td>685</td>
						</tr>
						<tr height="20">
							<td>Ермак -Элит 12-С</td>
							<td>42</td>
							<td>595</td>
							<td>395</td>
							<td>685</td>
						</tr>
						<tr height="20">
							<td>Ермак 12-ПС</td>
							<td>40</td>
							<td>595</td>
							<td>445</td>
							<td>685</td>
						</tr>
						<tr height="20">
							<td>Ермак-Элит 12-ПС</td>
							<td>40</td>
							<td>595</td>
							<td>445</td>
							<td>685</td>
						</tr>
						<tr height="20">
							<td colspan="10">*стоимость уточняйте у менеджера</td>
						</tr>
						<!--[if supportMisalignedColumns]-->
						<tr style="display:none" height="0">
							<td style="width:131pt" width="175"></td>
							<td style="width:87pt" width="116"></td>
							<td style="width:64pt" width="85"></td>
							<td style="width:48pt" width="64"></td>
							<td style="width:74pt" width="99"></td>
							<td style="width:64pt" width="85"></td>
							<td style="width:66pt" width="88"></td>
							<td style="width:56pt" width="74"></td>
							<td style="width:51pt" width="68"></td>
							<td style="width:58pt" width="77"></td>
						</tr>
						<!--[endif]-->
					</tbody>
				</table>
			</div>

		</div>

	</div>

</section>
