<section class="intro">

	<div class="intro__back-image-container">
		<img src="assets/img/ermak/intro.jpg" alt="ermak intro" class="intro__back-image">
	</div>

	<div class="intro__overlay">

		<div class="container_flex">

			<h1 class="intro__title">Банные печи Ермак</h1>

			<span class="intro__subtitle">
                Выберите интересующий Вас вариант, и свяжитесь с менеджером, чтобы уточнить наличие и стоимость:
            </span>

			<ul class="intro__list">
				<li><a href="#" data-roll="e12" class="intro__link" ripple-light>Ермак 12</a></li>
				<li><a href="#" data-roll="e16" class="intro__link" ripple-light>Ермак 16</a></li>
				<li><a href="#" data-roll="e20" class="intro__link" ripple-light>Ермак 20</a></li>
				<li><a href="#" data-roll="e30" class="intro__link" ripple-light>Ермак 30</a></li>
			</ul>

			<span class="intro__additional-text">
                Конструкция и тщательно подобранные материалы обеспечивают жесткость и условие тепловой равнопрочности, устраняют появление деформации при нагреве, формируют развитую систему теплопередачи. В различных исполнениях наиболее термически нагруженные элементы выполнены из стали толщиной до 6 мм или специальной жаростойкой нержавеющей стали (Элит) с содержанием хрома до 17% и температурой окалино-образования до 900 °C.<br>
                Модельный ряд рассчитан на самые популярные объемы парной: 6-14, 8-18, 12-24, 15-30, 35-50 м&sup3;.
            </span>

			<span class="intro__list-title">Другие семейства банных печей:</span>

			<ul class="intro__list">
				<li><a href="nmk-furnaces" class="intro__link" ripple-light>НМК</a></li>
				<li><a href="kastor" class="intro__link" ripple-light>Кастор</a></li>
			</ul>

		</div>

	</div>

</section>
