<section class="intro">

    <div class="intro__back-image-container">
        <img src="assets/img/buderus/intro.jpg" alt="Buderus intro" class="intro__back-image">
    </div>

    <div class="intro__overlay">

        <div class="container_flex">

            <h1 class="intro__title">Твёрдотопливные котлы Энергия-ТТ</h1>

            <span class="intro__subtitle">
                Выберите интересующий Вас вариант, и свяжитесь с менеджером, чтобы уточнить наличие и стоимость:
            </span>

            <ul class="intro__list">
                <li><a href="#" data-roll="energy" class="intro__link" ripple-light>Энергия-ТТ</a></li>
            </ul>

            <span class="intro__additional-text">
            	Котельная на твёрдом топливе может использоваться даже там, куда не подведены ни газопровод, ни линия электропередач, - твердотопливные котлы полностью автономны. Это преимущество твердотопливных отопительных котлов в сочетании с невысокой стоимостью котла, а также доступностью и дешевизной топлива, обусловливает их популярность в России
            </span>

            <span class="intro__list-title">Другие семейства твёрдотопливных котлов:</span>

            <ul class="intro__list">
                <li><a href="kentatsu" class="intro__link" ripple-light>Kentatsu Furst Vulkan</a></li>
                <li><a href="termokraft" class="intro__link" ripple-light>Termokraft</a></li>
                <li><a href="buderus" class="intro__link" ripple-light>Buderus</a></li>
                <li><a href="zota" class="intro__link" ripple-light>Zota</a></li>
                <li><a href="nmk" class="intro__link" ripple-light>НМК</a></li>
            </ul>

        </div>

    </div>

</section>
