<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>

    <meta charset="utf-8">
    <title>Энергия-ТТ || Комфорт 124</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {{> headTags.html }}

    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/energy-tt.css">

</head>

<body>

    <div id="wrapper" class="wrapper">

        {{> header }}

        <main id="main" class="main">

       {{> enerIntro }}

       {{> energy-tt }}

       <div class="s-devider"><div class="line"></div></div>

        <div class="families">

           <span class="families__list-title">Другие семейства твёрдотопливных котлов:</span>
            <ul class="families__list">
                <li><a href="kentatsu" class="families__link" ripple-light>Kentatsu Furst Vulkan</a></li>
                <li><a href="termokraft" class="families__link" ripple-light>Termokraft</a></li>
                <li><a href="buderus" class="families__link" ripple-light>Buderus</a></li>
                <li><a href="zota" class="families__link" ripple-light>Zota</a></li>
                <li><a href="nmk" class="families__link" ripple-light>НМК</a></li>
            </ul>

        </div>

        </main>

        {{> footer }}

        {{> topMenu }}

    </div>

    {{> buttonUp }}

    {{> preloader }}

    {{> bodyTags.js }}
    <script type="text/javascript" src="js/energy.js"></script>

</body>

</html>
