<a id="nav-menu__trigger menu-trigger" href="#0">
	<span class="cd-menu-text">Меню</span>
	<span class="cd-menu-icon"></span>
</a>

<nav id="cd-lateral-nav sidebar-nav">

	<ul class="nav">

		<li class="item-has-children nav__children">
			<a class="submenu-open nav__sub-trigger" href="#0">Профиль</a>
			<ul class="sub-menu nav__sub" style="display:block">
				<li class="nav__sub-item">
					<a class="nav__sub-link" href="#0">Заказы</a>
				</li>
				<li class="nav__sub-item">
					<a class="nav__sub-link" href="#0">Мастерская</a>
				</li>
				<li class="nav__sub-item">
					<a class="nav__sub-link" href="#0">Информация</a>
				</li>
				<li class="nav__sub-item">
					<a class="nav__sub-link" href="#0">Портфолио</a>
				</li>
				<li class="nav__sub-item">
					<a class="nav__sub-link" href="#0">О себе</a>
				</li>
			</ul>
		</li>
		<!-- item-has-children -->

		<li class="item-has-children">
			<a href="#0">Магазин</a>
			<ul class="sub-menu">
				<li><a href="#0">Картины</a></li>
				<li><a href="#0">Багеты</a></li>

				<li class="item-has-children">
					<a href="#0">Магазин</a>
					<ul class="sub-menu">
						<li><a href="#0">Картины</a></li>
						<li><a href="#0">Багеты</a></li>

						<li class="item-has-children">
							<a href="#0">Магазин</a>
							<ul class="sub-menu">
								<li><a href="#0">Картины</a></li>
								<li><a href="#0">Багеты</a></li>
								<li><a href="#0">Поделки</a></li>
								<li><a href="#0">Инструменты</a></li>
								<li><a href="#0">Разное</a></li>
							</ul>
						</li>

						<li><a href="#0">Поделки</a></li>
						<li><a href="#0">Инструменты</a></li>
						<li><a href="#0">Разное</a></li>
					</ul>
				</li>
				<li><a href="#0">Поделки</a></li>
				<li><a href="#0">Инструменты</a></li>
				<li><a href="#0">Разное</a></li>

				<li class="item-has-children">
					<a href="#0">Магазин</a>
					<ul class="sub-menu">
						<li><a href="#0">Картины</a></li>
						<li><a href="#0">Багеты</a></li>
						<li><a href="#0">Поделки</a></li>
						<li><a href="#0">Инструменты</a></li>
						<li><a href="#0">Разное</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<!-- item-has-children -->
	</ul>
	<!-- cd-navigation -->

	<ul class="cd-navigation cd-single-item-wrapper">
		<li><a href="#0">О сервисе</a></li>
		<li><a href="#0">Пользоватеьское соглашение</a></li>
		<li><a href="#0">Конфиденциальность</a></li>
		<li><a href="#0">Выйти</a></li>
	</ul>
	<!-- cd-single-item-wrapper -->

	<div class="cd-navigation socials">
		<a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
		<a class="cd-github cd-img-replace" href="#0">Git Hub</a>
		<a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
		<a class="cd-google cd-img-replace" href="#0">Google Plus</a>
	</div>
	<!-- socials -->

</nav>
