@import 'partials/_variables';
@import 'partials/_layout';
@import 'partials/_mixins';

@import 'libs/materialize';

@import 'layout/abjustment';
@import 'layout/fonts';
@import 'layout/forms';

@import 'sections/header';
@import 'sections/topMenu';
@import 'sections/footer';

//@import 'media/phones';
//@import 'media/tablets';

.product-list {
  display: flex;
}

.product-table {
  margin: 25px auto;
  border-collapse: collapse;
  table-layout: fixed
}
