
@import 'partials/_variables';
@import 'partials/_layout';
@import 'partials/_mixins';

.intro {
  @include MDShadow-1
}

.slider {
  height: 70vh;
}

.slide {
  display: flex;
  flex-direction: row;
  size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @each $numder in 1, 2, 3, 4, 5, 6 {
    &:nth-child(#{$numder}) {
      background-image: url('../assets/img/slide-#{$numder}.jpg');
    }
  }

  &__column_small {
    flex-basis: percentage(.2);
    background-color: rgba($red, 0.95);
  }

  &__column_half {
    flex-basis: percentage(.5);
  }

  &__column_big {
    flex-basis: percentage(.8);
    background-color: rgba($blacked, 0.35);
  }

  &__column_full {
    flex-basis: 100%;
  }

  &__text {
    font-size: 3rem;
    color: $red;
    text-shadow: 1px 1px 0 $white, 2px 2px 0 $red;
  }

  &__list {}

  &__title {
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    color: $white;
  }

  &__item {
    display: block;
    padding: 10px 30px;
    color: $white;
    @include transition(.2s);

    &:hover {
      color: $red;
      background-color: $white;
      @include MDShadow-1;
    }

    &:active {
      @include MDShadow-2;
    }
  }
}

.carousel-cell-image {
  display: block;
  max-size: 100%;
  margin: 0 auto;
  opacity: 0;
  background-size: cover;
  transition: opacity 0.4s ease-in-out;

  &.flickity-lazyerror,
  &.flickity-lazyloaded {
    opacity: 1;
  }
}

.flickity-page-dots {
  bottom: 2%;

  .dot {
    opacity: 0.8;
    size: 12px;
    background: transparent;
    border: 2px solid $red;
    @include MDShadow-2;
    @include transition(.3s);

    &:hover {
      opacity: 1;
    }

    &.is-selected {
      background: $red;
      box-shadow: 0 0 5px rgba($red, .5);
    }
  }
}

@import 'sections/catalogue';

.about {
  &__title {
    text-align: center;
    font-size: 3rem;
  }

  &__grid {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    padding: 30px;
  }

  &__cell {
    flex: 1 1 30%;
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    margin: 1vh;
    padding: 10px 20px;
    background-color: $white;
    @include MDShadow-1;
    @include transition(.3s)
  }

  &__headline {
    flex: 1 1 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.3rem;
  }

  &__icon {
    text-align: center;
    font-size: 5rem;
    color: $red;
    cursor: default;
  }

  &__description {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
