
@import 'partials/_variables';
@import 'partials/_layout';
@import 'partials/_mixins';
@import 'layout/intro';
@import 'sections/products';

.product {
  padding: 0 30px;

  &__name {
    padding: 10px 0;
    margin: 0;
    background-color: #f2f2f2;
    border: none;
  }

  &__description-container {
    min-height: initial;
    padding-right: 0;
    border: none;
  }

  &__characteristics-list {
    margin: 10px 30px;
  }

  &__column-half:nth-child(even) {
    border: solid $border-color;
    border-width: 0 0 0 1px;
  }

  &__image-container {
    max-width: 100%;
    margin: 30px 0;
  }

  &__image,
  &__image_half {
    width: auto;
    height: 400px;
  }

  &__description-title {
    display: block;
    margin: 0;
  }

  &__description-text_wide {
    padding: 10px;
  }
}
